In [40]:
import pandas as pd
import numpy as np

In [41]:
# load dataset
df = pd.read_csv('updated_tulum.csv')
df = df.replace(np.nan, 0)
df

,Index,Annotation,M005,M002,M006,M001,M009,M004,M014,M003,...,Sequence,R1_Annotation,R2_Annotation,R1PreActi,R2PreActi,R1NxtActi,R2NxtActi,Resident 1,Resident 2,SequenceLabel
0,1,Cook_Breakfast,4.0,4.0,4.0,8.0,4.0,23.0,60.0,158.0,...,"3, 15, 14",Cook_Breakfast,Cook_Breakfast,no acti,no acti,Cook_Lunch,Cook_Lunch,0,0.0,0
1,2,Cook_Lunch,38.0,16.0,8.0,5.0,5.0,15.0,68.0,141.0,...,"3, 14, 15",Cook_Lunch,Cook_Lunch,Cook_Breakfast,Cook_Breakfast,R1_Snack,Others,1,1.0,1
2,3,R1_Snack,0.0,1.0,1.0,14.0,2.0,16.0,22.0,164.0,...,"15, 3, 16",R1_Snack,Others,Cook_Lunch,Cook_Lunch,R1_Snack,Others,2,8.0,2
3,4,R1_Snack,0.0,0.0,0.0,4.0,2.0,3.0,3.0,7.0,...,"3, 15, 1",R1_Snack,Others,R1_Snack,Others,R1_Snack,Others,2,8.0,3
4,5,R1_Snack,0.0,1.0,0.0,10.0,6.0,10.0,20.0,76.0,...,"16, 3, 15",R1_Snack,Others,R1_Snack,Others,R1_Snack,Others,2,8.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,195,R1_Snack,0.0,0.0,0.0,0.0,0.0,9.0,9.0,6.0,...,"4, 14, 3",R1_Snack,Others,R1_Snack,Others,Watch_TV,Watch_TV,2,8.0,37
195,196,Watch_TV,0.0,0.0,0.0,17.0,1.0,15.0,13.0,28.0,...,"12, 3, 16",Watch_TV,Watch_TV,R1_Snack,Others,Watch_TV,Watch_TV,3,3.0,81
196,197,Watch_TV,0.0,0.0,0.0,103.0,0.0,41.0,46.0,70.0,...,"12, 1, 3",Watch_TV,Watch_TV,Watch_TV,Watch_TV,Watch_TV,Watch_TV,3,3.0,48
197,198,Watch_TV,0.0,0.0,0.0,88.0,4.0,21.0,49.0,79.0,...,"12, 1, 3",Watch_TV,Watch_TV,Watch_TV,Watch_TV,R1_Snack,Others,3,3.0,48
198,199,R1_Snack,0.0,0.0,0.0,26.0,6.0,4.0,4.0,8.0,...,"12, 1, 7",R1_Snack,Others,Watch_TV,Watch_TV,no acti,no acti,2,0.0,82

In [42]:
# loading only sensor data
feature = df.iloc[:, 2:7]
feature

,M005,M002,M006,M001,M009,M004,M014,M003,M015,M016,M018,M017,M008,M010,M011,M012,M007,M013,T001,T002
0,4.0,4.0,4.0,8.0,4.0,23.0,60.0,158.0,89.0,19.0,3.0,3.0,8.0,2.0,2.0,0.0,2.0,0.0,0.0,0.0
1,38.0,16.0,8.0,5.0,5.0,15.0,68.0,141.0,59.0,5.0,2.0,1.0,2.0,10.0,4.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,14.0,2.0,16.0,22.0,164.0,169.0,151.0,6.0,6.0,1.0,0.0,12.0,4.0,2.0,0.0,0.0,0.0
3,0.0,0.0,0.0,4.0,2.0,3.0,3.0,7.0,7.0,4.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,10.0,6.0,10.0,20.0,76.0,72.0,103.0,3.0,3.0,3.0,0.0,6.0,0.0,5.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,0.0,0.0,0.0,0.0,0.0,9.0,9.0,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195,0.0,0.0,0.0,17.0,1.0,15.0,13.0,28.0,20.0,22.0,2.0,2.0,0.0,0.0,11.0,86.0,0.0,0.0,0.0,0.0
196,0.0,0.0,0.0,103.0,0.0,41.0,46.0,70.0,30.0,18.0,6.0,6.0,0.0,0.0,20.0,377.0,0.0,0.0,0.0,0.0
197,0.0,0.0,0.0,88.0,4.0,21.0,49.0,79.0,43.0,24.0,5.0,5.0,0.0,0.0,16.0,297.0,4.0,0.0,0.0,0.0
198,0.0,0.0,0.0,26.0,6.0,4.0,4.0,8.0,12.0,0.0,2.0,2.0,0.0,0.0,8.0,48.0,20.0,0.0,0.0,0.0

In [43]:
# annotations 
labels = df.loc[:, 'R1_Annotation']
labels

0      Cook_Breakfast
1          Cook_Lunch
2            R1_Snack
3            R1_Snack
4            R1_Snack
            ...
194          R1_Snack
195          Watch_TV
196          Watch_TV
197          Watch_TV
198          R1_Snack
Name: R1_Annotation, Length: 199, dtype: object

In [44]:
from sklearn import svm 
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [45]:
train, test, train_labels, test_labels = train_test_split(feature,labels,test_size=0.1,random_state=4)

In [46]:
gnb = tree.DecisionTreeClassifier()
model = gnb.fit(train, train_labels)
print("model",model)

model DecisionTreeClassifier()

In [47]:
pred = model.predict(test)
pred

array(['Watch_TV', 'Watch_TV', 'R1_Eat_Breakfast', 'Watch_TV',
       'Cook_Breakfast', 'R1_Snack', 'Cook_Breakfast', 'Watch_TV',
       'Cook_Breakfast', 'R1_Snack', 'Cook_Breakfast', 'Watch_TV',
       'R1_Snack', 'R1_Snack', 'R1_Eat_Breakfast', 'R1_Eat_Breakfast',
       'R1_Snack', 'R1_Snack', 'R1_Snack', 'Cook_Breakfast'], dtype=object)

In [48]:
accuracy_score = accuracy_score(test_labels, pred)

print("Accuracy: ", accuracy_score)

Accuracy:  0.5

In [49]:
# classification report
from sklearn.metrics import classification_report

print(classification_report(test_labels, pred))

                  precision    recall  f1-score   support

  Cook_Breakfast       0.20      0.50      0.29         2
      Cook_Lunch       0.00      0.00      0.00         1
      Leave_Home       0.00      0.00      0.00         1
R1_Eat_Breakfast       0.33      0.50      0.40         2
        R1_Snack       0.57      0.50      0.53         8
        Watch_TV       0.80      0.67      0.73         6

        accuracy                           0.50        20
       macro avg       0.32      0.36      0.32        20
    weighted avg       0.52      0.50      0.50        20

d:\Smart Aging\datasets\.venv\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
d:\Smart Aging\datasets\.venv\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
d:\Smart Aging\datasets\.venv\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))