In [1]:
import pandas as pd
import numpy as np
import os
from sklearn import svm 
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
data_set=pd.read_csv("newest_aruba.csv")
data_set=data_set.replace(np.nan,0)
data_set.head()

,Annotation,Begin_end,M003,M002,M007,M004,M005,M018,M019,M015,...,Duration,Start_Date,End_Date,Start_Time,End_Time,season,weekday,preact,nextact,shift_1
0,Sleeping,0.0,15.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,...,337,04-11-2010,04-11-2010,00:03:50,05:40:44,winter,Thursday,A,Bed_to_Toilet,Morning
1,Bed_to_Toilet,0.0,0.0,0.0,4.0,5.0,2.0,0.0,0.0,0.0,...,3,04-11-2010,04-11-2010,05:40:51,05:43:30,winter,Thursday,Sleeping,Sleeping,Morning
2,Sleeping,0.0,51.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,...,137,04-11-2010,04-11-2010,05:43:46,08:01:12,winter,Thursday,Bed_to_Toilet,Meal_Preparation,early Morning
3,Meal_Preparation,0.0,0.0,0.0,0.0,0.0,0.0,43.0,124.0,64.0,...,16,04-11-2010,04-11-2010,08:11:10,08:27:03,winter,Thursday,Sleeping,Meal_Preparation,Morning
4,Meal_Preparation,0.0,0.0,0.0,0.0,0.0,0.0,7.0,22.0,8.0,...,2,04-11-2010,04-11-2010,08:33:53,08:35:46,winter,Thursday,Meal_Preparation,Relax,Morning

In [3]:
labels = data_set['Annotation']
print("The labels are", labels)

The labels are 0               Sleeping
1          Bed_to_Toilet
2               Sleeping
3       Meal_Preparation
4       Meal_Preparation
              ...
6472               Relax
6473               Relax
6474               Relax
6475               Relax
6476            Sleeping
Name: Annotation, Length: 6477, dtype: object

In [4]:
feature = data_set.iloc[:,2:38]
feature

,M003,M002,M007,M004,M005,M018,M019,M015,M016,M020,...,M023,M025,M001,M024,M011,D001,D002,c,ENTERHOME,Duration
0,15.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,337
1,0.0,0.0,4.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2,51.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137
3,0.0,0.0,0.0,0.0,0.0,43.0,124.0,64.0,14.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16
4,0.0,0.0,0.0,0.0,0.0,7.0,22.0,8.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16
6473,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137
6474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26
6475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46
6476,18.0,28.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108

In [5]:
train, test, train_labels, test_labels = train_test_split(feature,labels,test_size=0.5,random_state=4)
print(train)

       M003  M002  M007  M004  M005  M018  M019  M015  M016  M020  ...  M023  \
141     0.0   0.0   2.0   3.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
2715    0.0   0.0   0.0   0.0   0.0  13.0  32.0  22.0   2.0   0.0  ...   0.0
2847  109.0  16.0   4.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
4295    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  10.0  ...   0.0
5701    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
6017    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
709     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
2487    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   7.0  ...   4.0
174     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
1146    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0

      M025  M001  M024  M011  D001  D002    c  ENTERHOME  Duration
141    0.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0         3
2715   0.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0         3
2847   0.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0       353
4295   0.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0        72
5701   0.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0         0
...    ...   ...   ...   ...   ...   ...  ...        ...       ...
6017   0.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0         0
709    0.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0         0
2487   0.0   0.0  31.0   0.0   0.0   0.0  0.0        0.0        21
174    6.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0         6
1146   0.0   0.0   0.0   0.0   0.0   0.0  0.0        0.0         0

[3238 rows x 36 columns]

In [6]:
gnb = tree.DecisionTreeClassifier()
model = gnb.fit(train, train_labels)
print("model",model)

model DecisionTreeClassifier()

In [7]:
preds = gnb.predict(test)
print(preds)
print(test_labels)
print(accuracy_score(test_labels, preds))

['Enter_Home' 'Relax' 'Meal_Preparation' ... 'Eating' 'Meal_Preparation'
 'Relax']
5950          Leave_Home
6086               Relax
1944    Meal_Preparation
3019          Enter_Home
3572            Sleeping
              ...
2015          Leave_Home
1394    Meal_Preparation
210               Eating
3458    Meal_Preparation
3990               Relax
Name: Annotation, Length: 3239, dtype: object
0.9181846248842235